/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 

:root {
    /* Colors */
    --babyBlue: #14A3C7;
    --beigeSections: #D9CBBF;
    --coffeeBrown: #594839;
    --beigeIcons: #CDB693;
    /* Spacing */


}

 

/* General styling */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

 

 

/* Blue Button Styling */

.generalButtonStyling{
    color:white;
    background-color: var(--babyBlue);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 7rem;
    height: 3rem;
    border-radius: 6px;

}

 

/* Hero Styling */

 

header {
    position: relative;
    height: 100vh;
}

.heroImage {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar button {
    margin-left: 4rem;
}

 

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

 

nav ul li {
    margin: 0 15px;
}

 

nav ul a {
    color: white;
    text-decoration: none;
}

 

.headerLogo {
    flex: 1;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

 

.heroContent {
    color: white;
    padding: 4rem;
    position: relative;
    z-index: 1;
}

 

.heroContent h1 {
    font-size: 70px;
}



/* ------------------------------------ styling enkelt-dyr-------------------------------------- */
/* --------------------------- styling enkelt-dyr header start--------------------------- */
.header-animal{
    position: relative;
    height: unset;
}
.navbar-animal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.headerLogo-animal{
    flex: 1;
    font-size: 40px;
    text-decoration: none;
    color: var(--coffeeBrown);
}
.nav-ul-animal{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.nav-ul-animal li{
    margin: 0 15px;
}
.nav-ul-animal li a{
    color: var(--coffeeBrown);
    text-decoration: none;
}
.navbar-animal button {
    margin-left: 4rem;
}
/* --------------------------- styling enkelt-dyr header slut--------------------------- */
.main-animal{
    margin: 4rem 8rem;
}
.breadcrumbs{
    margin: 0 2rem;
}
.breadcrumbs a{
    text-decoration: none;
    font-weight: 300;
    font-style: italic;
    color: var(--coffeeBrown);
}
.single-animal-header{
    display: flex;
    align-items: baseline;
}
.single-animal-header h1{
    color: var(--coffeeBrown);
    font-weight: 500;
    margin-right: 1rem;
    font-size: 4rem;
}
.header-icon{
    color: var(--beigeIcons);
    font-size: 3rem;
}
.single-animal-img{
    width: 50%;
}
.single-animal-img img{
    width: 100%;
}
.single-animal{
    display: flex;
    gap: 6rem;
    margin-bottom: 4rem;
}
.single-animal-content{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.single-animal-data{
    display: flex;
    gap: 4rem;
}
.single-animal-data p{
    margin: 1rem 1rem 0 0;
    color: var(--coffeeBrown);
    font-weight: 600;
}
.single-animal-data span{
    margin-left: 1rem;
    font-weight: 400;
}
.single-animal-description{
    width: 50%;
}
.single-animal-description p{
    margin-bottom: 2rem;
}

/*-----Calendar--------*/
.animal-meeting-book{
    width: 50%;
    /* background-color: red; */
    
    padding: 20px;
    text-align: center;
}
.animal-h2{
    color: var(--coffeeBrown);
    font-weight: 500;
    font-size: 2rem;
}
.calendar-header{
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 400;
    margin-bottom: 1rem;
}

#dates-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

#dates-grid div {
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    cursor: pointer;
}

#dates-grid div:hover {
    background-color: #cce7ff;
}

.selected {
    background-color: #47a7f5;
    color: white;
}
.bottom-bar{}



/* .checkboxes label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
} */
/* ------------------------------------ styling enkelt-dyr-------------------------------------- */

 