/* Typography */

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 

:root {
    /* Colors */
    --babyBlue: #14A3C7;
    --beigeSections: #D9CBBF;
    --coffeeBrown: #594839;
    --beigeIcons: #CDB693;
    /* Spacing */


}

 

/* General styling */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
    font-family: "Barlow", sans-serif;
}

main {
    background-color: #F6F4F5;    
}


 

 

/* Blue Button Styling */

/* General button styling */
.generalButtonStyling, .centeredButtonStyling {
    color: white;
    background-color: var(--babyBlue);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 7rem;
    height: 3rem;
    border-radius: 6px;
    cursor: pointer;
}

.centeredButtonStylingWhite {
    color: var(--babyBlue);
    background-color: white;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 7rem;
    height: 3rem;
    border-radius: 6px;
}

/* Container for the centered button */
.centeredButtonContainer {
    
    display: grid;
    grid-column: 2/3;
    justify-content: center; 
    align-items: center;      
    padding-bottom: 2rem;
}



 
/* Nav */
/* Hvid nav */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar button {
    margin-left: 4rem;
}

 

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

 

nav ul li {
    margin: 0 15px;
}

 

nav ul a {
    color: white;
    text-decoration: none;
}

/* --------------------------- styling enkelt-dyr header start--------------------------- */
.header-animal{
    position: relative;
    height: unset;
    background-color: #F6F4F5;
}
.navbar-animal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}
.headerLogo-animal{
    flex: 1;
    font-size: 40px;
    text-decoration: none;
    color: var(--coffeeBrown);
}
.nav-ul-animal{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}
.nav-ul-animal li{
    margin: 0 15px;
}
.nav-ul-animal li a{
    color: var(--coffeeBrown);
    text-decoration: none;
}
.navbar-animal button {
    margin-left: 4rem;
}
/* Hero Styling */
/* Index hero */
.indexHeader {
    position: relative;
    height: 100vh;
}

/* Small hero */
.smallHeader {
    position: relative;
    height: 50vh;
}



.heroImage {
    position: absolute;
    object-fit: cover;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

 
.centeredHeroH1 {
    text-align: center;

}
.heroContent h1 {
    font-size: 70px;
}
 
.headerLogo {
    flex: 1;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

 

.heroContent {
    color: white;
    padding: 4rem;
    position: relative;
    z-index: 1;
}

 



footer{
    background-color: var(--coffeeBrown);
    color: white;
    padding: 1rem 1rem;
}
footer p{
    margin: 4px;
}
.footer-header{
    font-size: 2rem;
}
.footer-bottom-row{
    display: flex;
    justify-content: space-evenly;
    font-size: 0.8rem;
    padding-top: 1rem;
}
.footer-upper-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 0 2rem 0;
}
.footer-bottom-row div{
    display: flex;
}
.footer-icon{
    font-size: 2rem;
}
.footer-links-container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.footer-links a{
    text-decoration: none;
    color: white;
    margin-bottom: 0.5rem;
}
.footer-links{
    display: flex;
    flex-direction: column;
}



/* ------------------------------------ styling enkelt-dyr-------------------------------------- */
/* --------------------------- styling enkelt-dyr header slut--------------------------- */


.main-animal {
    padding: 4rem 8rem;
}
.breadcrumbs{
    margin: 0 2rem;
}
.breadcrumbs a{
    text-decoration: none;
    font-weight: 300;
    font-style: italic;
    color: var(--coffeeBrown);
}
.single-animal-header{
    display: flex;
    align-items: baseline;
}
.single-animal-header h1{
    color: var(--coffeeBrown);
    font-weight: 500;
    margin-right: 1rem;
    font-size: 4rem;
}
.header-icon{
    color: var(--beigeIcons);
    font-size: 3rem;
}
.single-animal-img{
    width: 50%;
}
.single-animal-img img{
    width: 100%;
}
.single-animal, .single-animal-under{
    display: flex;
    gap: 6rem;
    margin-bottom: 4rem;
}
.single-animal-content{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
}
.single-animal-data{
    display: flex;
    gap: 4rem;
}
.single-animal-data p{
    margin: 1rem 1rem 0 0;
    color: var(--coffeeBrown);
    font-weight: 600;
}
.single-animal-data span{
    margin-left: 1rem;
    font-weight: 400;
}
.single-animal-description{
    width: 50%;
}
.single-animal-description p{
    margin-bottom: 2rem;
}

/*-----Calendar--------*/
.animal-meeting-book{
    width: 50%;
}
.animal-h2{
    color: var(--coffeeBrown);
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.calendar-header{
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.days{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 400;
    margin-bottom: 1rem;
}
#dates-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}
#dates-grid div {
    padding: 10px;
    border-radius: 5px;
}
#dates-grid div:hover {
    background-color: var(--babyBlue);
    opacity: 20%;
}
.selected {
    background-color: var(--babyBlue);
    color: white;
}
.bottom-bar{
    display: flex;
    justify-content: space-between;
}
.selectedDate{
    align-content: center;
    background-color: #eee;
    border: none;
    width: 7rem;
    height: 3rem;
}



.checkboxes{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    color: var(--coffeeBrown);
}
.checkboxes input{
    position: absolute;
    height: 0;
    width: 0;
}
.checkbox-style{
    position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  
}
.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    font-size: 1rem;
    margin: 1rem 0 1rem 0; 
}
.checkbox-container input:checked ~ .checkbox-style {
    background-color: var(--babyBlue);
}
.checkbox-style:after {
    content: "";
    position: absolute;
    display: none;
}
.checkbox-container input:checked ~ .checkbox-style:after {
    display: block;
}
.checkbox-container .checkbox-style:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  


.calendar-section{
    text-align: center;
}
.form-section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.form-section p{
    color: var(--coffeeBrown);
    font-weight: 300;
}
.calendar-form-section{
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.calendar-form-section input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

/* ------------------------------------ styling enkelt-dyr-------------------------------------- */

 


/* Index Page */

/* Dyre cards (Index, arkivDyr, enkeltDyr, Adoptering  */ 
.singularAnimalCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background: white;
    color: #342716;
    text-decoration: none;
    flex: 1; 
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singularAnimalCard img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
    height: 10rem;
    object-fit: cover; 
}


/* Forside entrypoints */
.indexEntryPointcontainer {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
    width: 100%;
    margin: 0 auto;
    padding: 5rem;
    height: 30rem;
}

.indexEntryPoint {
    position: relative;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out; 
}

.indexEntryImage {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; 
}

.indexoverlayText {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35%;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    background: rgba(109, 101, 90, 0.40); 
    transition: background 0.3s ease-in-out; 
}

.indexEntryText {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10%;
    transition: font-size 0.3s ease-in-out; 
}

/* Hover effect Entry Points*/
.indexEntryPoint:hover .indexEntryImage {
    transform: scale(1.20); 
}

.indexEntryPoint:hover .indexoverlayText {
    background: rgba(109, 101, 90, 0.8);  
}

.indexEntryPoint:hover .indexEntryText {
    font-size: 1.9rem; 
}

  

  /* Animal Slider Section*/
  .cardSliderSection {
    background: var(--beigeSections);

  }
 
  .cardSliderSectionText {
    padding: 2rem 5rem 2rem 5rem;

  }

  .cardSliderSectionText h2 {
    padding-bottom: 2rem;
    font-size: 30px;
  }
  
  .cardSlider {
    display: flex;
    padding: 0 5rem 3rem 5rem;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
}



.animalInfoCard {
    font-size: 16px;
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.animalInfoCard h3 {
    font-size: 25px;
    background: var(--coffeeBrown);
    color: white;
    padding: 0.5rem; 
}

.animalInfoCard button {
    background-color: var(--babyBlue);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: fit-content; 
    align-self: center; 
}


.animalInfoMeta {
    display: flex;
    justify-content: space-around;
}

.iconText i {
    color: #CDB693;
    font-size: 2rem;
    padding-bottom: 1rem;


}


/* Blog Slider Section */

.singularBlogCard {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white;
    color: #342716;
    text-decoration: none;
    flex: 1; 
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.singularBlogCard img {
    border-radius: 50%; 
    width: 5rem;
    height: 5rem;
    object-fit: cover; 
}

.authorBlogCard {
    display: flex;
}

.authorBlogCard div {
    flex-direction: column;
    padding: .7rem;
}

.authorBlogCard div p:nth-child(2) {
    font-style: italic;
}

.ButtonStylingBlogPost{
    color:white;
    background-color: var(--babyBlue);
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    width: 5rem;
    height: 2rem;
    border-radius: 6px;

}


/* Animal Archive */

.dyreArkivContainer {
    display: grid;
    grid-template-columns: 20% 80%; 
    padding: 7rem 5rem 5rem 5rem;

    width: 100%;
}

.arkivDyrfilter {
    padding: 2rem;
    background: var(--babyBlue);
    border-radius: 10px;
}

.dyreArkivGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    margin-left: 5rem;
}


.arkivDyrfilter h2 {
    color: white;
    font-size: 20px;
    margin-bottom: 2rem;
}

.arkivFilterItem {
    padding-bottom: 1rem;
}


.arkivFilterItem select {
    width: 100%; 
    display: block; 
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 8px;
    
    

}

.arkivFilterItem label {
    color: white;

}


/* Kat/hund knap */
.buttonCatDogContainer {
    display: flex;
    justify-content:center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.buttonCatDog {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border: none;
    border-radius: 8px;
    background-color: white; 
    color: var(--babyBlue); 
    font-size: 1.2rem; 
    cursor: pointer;
}

.iconCircle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem; 
    height: 4rem; 
    border-radius: 50%; 
    background-color: var(--babyBlue);
    margin-bottom: 1rem; 
}

.iconCircle i {
    color: white; 
    font-size: 1.5rem; 
}

.buttonCatDog.active {
    background-color: var(--babyBlue); 
    color: white; 
    border-color: var(--babyBlue); 
}

.buttonCatDog.active .iconCircle {
    background-color: white; 
}

.buttonCatDog.active .iconCircle i {
    color: var(--babyBlue) 
}







